body {
  /*margin-top: 10vh;*/
  /*margin-bottom: 10vh;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
    padding-top: 5vh;
    padding-bottom: 5vh;
  font-family: sans-serif;
}
.skew {
  background: #56ab2f;
  background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
  background: linear-gradient(to left, #a8e063, #56ab2f);
  transform: skewY(2deg);
    padding-top: 5vh;
    padding-bottom: 10vh;
}

.skew1 {
  background: white;
  transform: skewY(2deg);
}

.unskew {
  transform: skewY(-2deg);
}
.unskew1 {
  transform: skewY(-2deg);
}

.header {
    margin-bottom: 5vh;
    position: relative;
    padding-left: 5vw;
}

.logOutButton {
    float: right;
    margin-right: 5vw;
}

.lista {
    padding-left: 5vw;
    height: 50vh;
}

.copright {
    text-align: center;
}

.charts {
    margin-bottom: 5vh;
}

tbody:last-child {
    margin-bottom: 5vh;
}

.row {
    maring-left: 0px;
    margin-right: 0px;
}