table {
  width: 100%;
  border-bottom:  black solid 1.5px;
}
th, td{
  padding: 4px 10px 4px;
}
th{
  background-color: darkgrey;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border: 1.5px solid black;
  text-align: center;
  margin-top: 15px;
}
td{
  text-align: center;
  border-right: black solid 1.5px;
  border-left:  black solid 1.5px;
}
tr.even{
  background-color: #efefef;
}
tr:hover{
  background-color: purple;
  color: white;
  font: bolder;
}
button{
  margin-left: 5.5px;
  color: black;
}
.money{
  text-align: right;
}

.val {
  width: 75%;
}
.add {
  width: 24%;
}
.division {
  text-align: center;
}
.category{
  display: block;
  padding: 10px;
  justify-content: center;
}