div {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    background: #56ab2f;
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
    background: linear-gradient(to left, #a8e063, #56ab2f);
}
